sudo: required
services:
  - docker
before_install:
  - docker build -t test-client -f ./client/Dockerfile.dev ./client
script:
  - docker run test-client npm test -- --coverage
after_success:
  - docker build -t civilbots/client ./client
  - docker build -t civilbots/worker  ./worker
  - docker build -t civilbots/server  ./server
  - docker build -t civilbots/nginx  ./nginx
  # login to docker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID"  --password-stdin
  # push to dockerhub
  - docker push civilbots/client
  - docker push civilbots/worker
  - docker push civilbots/server
  - docker push civilbots/nginx
deploy:
  provider: elasticbeanstalk
  region: us-east-2
  app: multi-container
  env: MultiConainer-env
  bucket_name: elasticbeanstalk-us-east-2-442287029366
  bucket_path: container-multi
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: $AWS_SECRET_KEY
